
<div class="card mb-4 box-shadow">
    <div class="card-img-top">
        
        <ngb-carousel [interval]='0'>
            <ng-template ngbSlide *ngFor="let img of event.images"; index as i>
                <img class="card-img-top" [src]=img alt="Random first slide" />
                
            </ng-template>
        
          
      </ngb-carousel>                    
    </div>
    <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <p class="card-text">Location: {{event.location}}</p>
      <p class="card-text">{{event.details}}</p>
      <span class="muted">{{event.startDate | date:'medium'}} - {{event.endDate | date:'medium'}}</span>
    </div>
  </div>