

<div  class=" overflow-x-scroll p-2 mb-2">
    <div *ngFor="let c of (searchFacade.cat$|async)!.segment" class="d-inline badge badge-secondary mr-2" (click)="onSegment(c)">{{c.name}}</div>
    <div *ngFor="let c of (searchFacade.cat$|async)!.genre" class="d-inline badge badge-secondary mr-2" (click)="onGenre(c)">{{c.name}}</div>
    <div *ngFor="let c of (searchFacade.cat$|async)!.subGenre" class="d-inline badge badge-secondary mr-2" (click)="onSubGenre(c)">{{c.name}}</div>
</div>

<div  class=" overflow-x-scroll p-2 mb-2">
    <div *ngFor="let c of (searchFacade.cid$|async)" class="d-inline badge badge-success mr-2" (click)="onRemoveClassfication(c)">{{c.name}}</div>
</div>