

<div class="d-flex flex-row justify-content-center">
    <h1 class="d-inline-flex justify-content-center">{{grp.group$.value?.name}}</h1><br/>
</div>
<div class="d-flex flex-row justify-content-center">
    <h2 class="d-inline-flex justify-content-center">{{grp.group$.value?.event?.name}}</h2><br/>
</div>
<div class="d-flex flex-row justify-content-center">
    <h3 class="d-inline-flex justify-content-center"></h3>{{grp.group$.value?.event?.location}}<br/>
</div>
<div class="d-flex flex-row justify-content-center">
    <p class="d-inline-flex justify-content-center">{{grp.group$.value?.event?.startDate|date:'medium'}} - {{grp.group$.value?.event?.endDate|date:'medium'}}</p><br/>
</div>
<div class="d-flex flex-row justify-content-center">
<p><a class="link-opacity-100 invite" (click)="copyInviteLink()">Invite Link</a></p>
</div>




<ng-template [ngIf]="grp.currentUser$.value.id == group.admin.id">
    <div class="container p-2">
        <div class="d-flex flex-row justify-content-center">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Kick</th>
                        <th scope="col">Status</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{grp.group$.value!.admin.name}}</td>
                        <td></td>
                        <td>{{(grp.group$.value)!.confirmed.includes(grp.group$.value!.admin.id)?"Going":"Not Going" }}</td>
                    </tr>
                    <tr  *ngFor="let m of grp.group$.value!.members">
                        <td>{{ m.name }} </td>
                        <td><button type="button" class="btn btn-danger" >Kick</button></td>
                        <td>{{(grp.group$.value)!.confirmed.includes(m.id)?"Going":"Not Going" }}</td>
                    </tr>      
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div type="button" class="btn btn-danger m-1" >Delete Group</div>
            <div type="button" class="btn btn-success m-1" *ngIf="!(grp.group$|async)!.booked">Request confirmation</div>
            <div type="button" class="btn btn-success m-1" *ngIf="!(grp.group$|async)!.booked" >Confirm book</div>
        </div>
    </div>
</ng-template>


<div class="d-flex flex-row justify-content-center">
    <app-calander [events]="grp.groupCalendar$.value" [dateColor]="grp.dateColor$.value" [navigateTo]="grp.getStartDate(grp.group$.value?.event?.startDate)"></app-calander>
</div>

<div class="row pt-2">
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Event Detail</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
            </tr>
        </thead>
        <tbody>
           <tr *ngFor="let e of grp.groupCalendar$|async">
                <td>{{e.user.name}}</td>
                <td>{{e.detail}}</td>
                <td>{{e.start|date:"medium"}}</td>
                <td>{{e.end|date:"medium"}}</td>     
           </tr>
           
        </tbody>
    </table>
</div>

<ng-template [ngIf]="grp.group$.value?.allUUID?.includes(grp.currentUser$.value.id)">
<div class="d-flex flex-row justify-content-center">
    <div class="btn btn-success" (click)="joinGroup()">JOIN GROUP</div>
</div>
</ng-template>

<!--

Group name

Invite link

Admin

A list of members (kick)

Have the calander

Infomraiton about the clicked dates 
-->