<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" routerLink="/search">Ticket Buddy</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" routerLink="/search">Search <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" routerLink="/group">Groups</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/personalcalender">Personal Calendar</a>
			</li>
			
			
		  </ul>
		  <form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="GroupID" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" >Join</button>
		  </form>
		</div>
	  </nav>
  </header>

  <main role="main">
	<!--
	<section class="jumbotron text-center">
	  <div class="container">
		<h1 class="jumbotron-heading">Ticket Buddy</h1>
		<p class="lead text-muted">A system which allows users to form groups with similar interest in a specific event offered by TicketMaster with the intent of going to that event together.</p>
		<p>
		  <a href="#" class="btn btn-primary m-2">Main call to action</a>
		  <a href="#" class="btn btn-secondary m-2">Secondary action</a>
		</p>
	  </div>
	</section>-->

	<div class="container p-5">
		<router-outlet></router-outlet>
	</div>

  </main>
