
<div class="row p-3">
 
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                        <input type="text" class="form-control search-slt"[(ngModel)]="eventInput" placeholder="Event Name">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                        <input type="text" class="form-control search-slt" placeholder="classification" [(ngModel)]="classInput" (ngModelChange)="classificationEmitter.emit($event)">
                    </div><!--As the user type a list segment, genre, subgenre will be shown as a list then the user
                    click to add that to their wanted filter after all is done when click on search it will do the neccessary
                    (this one will on ongchang)
                    -->
                    <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                        <button type="button" class="btn btn-danger wrn-btn" (click)="searchEvent()">Search</button>
                    </div>
                    
                </div>
            </div>
        </div>
    
</div>
<div *ngIf="cId.length > 0" class=" overflow-x-scroll p-2 mb-2">
    <div *ngFor="let c of cId" class="d-inline badge badge-success mr-2" (click)="onRemoveClassfication(c)">{{c.name}}</div>
</div>
<app-classification-component [classification]="classificationEmitter" (addClassification)="onAddClassification($event)"></app-classification-component>
<div class="container justify-content-center">
<app-list-events [watchlist]="watchlist" [events]="loadedEvents"></app-list-events>
<div class="row  justify-content-center" >
   
<ng-template [ngIf]="pageInfo && pageInfo.number">
    <div class="col-lg-4 col-md-6 col-sm-10 justify-content-center">
        <ngb-pagination
        (pageChange)="changePage($event)"
        [collectionSize]="pageInfo.totalElements"
        [page]="pageInfo.number"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true" />
    </div>
</ng-template>

</div>
</div>